{% load static %} 
{% load static tailwind_tags %}


<!DOCTYPE html>

<html >
  <head>
    {% include 'includes-s/head.html' %}
    <title>{% block title %}Student layout{% endblock %}</title>
    {% tailwind_css %}
    {% block css %}{% endblock %}
  </head>

  <body style=" font-family: Ubuntu, sans-serif " class=" bg-blue-50 text-black-800 dark:bg-sky-900 dark:text-white">
    
       <!-- Layout wrapper -->
       <div class="layout-wrapper layout-content-navbar ">
        <div class="layout-container">
          <!-- Menu -->
  
          {% include "includes-g/sidebar.html" %}
          <!-- / Menu -->
  
          <!-- Layout container -->
          <div class="layout-page">
            <!-- Navbar -->
  
            {% include "includes-g/header.html" %}
  
            <!-- / Navbar -->
  
                <!-- Content wrapper -->
  <div class="content-wrapper ">
    <!-- Content -->

    {% block guest %}
            
            
    {% endblock %}
    <!-- / Content -->

    <!-- Footer -->
   {% include "includes-s/footer.html" %}
    <!-- / Footer -->

    <div class="content-backdrop fade"></div>
  </div>
  <!-- Content wrapper -->
</div>
<!-- / Layout page -->
</div>

<!-- Overlay -->
<div class="layout-overlay layout-menu-toggle"></div>
</div>
            
          </div>
          <!-- / Layout page -->
        </div>
  
      <!-- / Layout wrapper -->

    

    {% include 'includes/scripts.html' %}
    
    {% block js %}
    

    {% endblock %}

    <script>
      toastr.options = {
          "closeButton": true,
          "debug": false,
          "newestOnTop": true,
          "progressBar": true,
          "positionClass": "toast-top-right",
          "preventDuplicates": true,
          "onclick": null,
          "showDuration": "300",
          "hideDuration": "1000",
          "timeOut": "5000",
          "extendedTimeOut": "1000",
          "showEasing": "swing",
          "hideEasing": "linear",
          "showMethod": "fadeIn",
          "hideMethod": "fadeOut"
      }
  </script>

    
  </body>
</html>
