{% load static %} 
{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
  <head>
      {% include 'includes/head.html' %}
      <title>{% block title %}layout{% endblock %}</title>
      {% tailwind_css %}
      {% block css %}
        <style>
          .toastify-center {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: 20px; /* Adjust this value to control the vertical positioning */
            z-index: 9999; /* Ensure it appears above other elements */
        }
        </style>
        
      {% endblock %}
      <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet"/>

  </head>
  <body id="body" class="bg-blue-50  text-black-800 dark:bg-sky-900 dark:text-white">
    <div class="container-fluid m-0  p-0 ">
    {% include 'includes/header.html' %}

    {% block main %} {% endblock %}

    {% include 'includes/footer.html' %}
    {% include 'includes/scripts.html' %}
    {% include "includes/select_program_script.html" %}
    {% block js %}
    
      



    
    
  
    {% endblock %}

  </body>
</html>