

{% extends "layouts/glayout.html" %}
{% load static %}


{% block title %}study_material{% endblock %}


{% block css %}

<style>
  
</style>

{% endblock %}

{% block guest %}
<h1 class="text-center text-3xl font-semibold">Study Material</h1>
<div class="min-h-screen my-2 container-fluid">
  
    <table class="table table-bordered">
      <thead>
        <tr class="table-dark text-center">
          <th>id</th>
          <th>Program</th>
          <th>Branch</th>
          <th>Year</th>
          <th>Subject</th>
          <th>File Name</th>
          <th>Download</th>
        </tr>
      <tbody class="bg-blue-100">
        
        <tr class="text-center">
          <td>1</td>
          <td>Diploma</td>
          <td>Computer Science</td>
          <td>First Year</td>
          <td>C Language</td>
          <td>Python</td>
          <td><a href="Python.png">python.pnt</a></td>
          
        </tr>
       
      </tbody>
      </thead>
    </table>
</div>
{% endblock %}
