{% extends "layouts/glayout.html" %} {% load static %} {% block title %}Update
Profile{% endblock %} {% block css %}

<style></style>

{% endblock %} {% block guest %}
<h1 class="text-center text-3xl font-semibold">Update Profile</h1>
<section class="py-10 my-auto">
  <div class="lg:w-[80%] md:w-[90%] xs:w-[96%] mx-auto flex gap-4">
    <div
      class="lg:w-[88%] md:w-[80%] sm:w-[88%] xs:w-full mx-auto shadow-2xl p-4 rounded-xl h-fit self-center dark:bg-gray-800/40"
    >
      <!--  -->
      <div class="">
        <h1
          class="lg:text-3xl md:text-2xl sm:text-xl xs:text-xl font-serif font-extrabold mb-2 dark:text-white"
        >
          Profile
        </h1>
        <h2 class="text-grey text-sm mb-4 dark:text-gray-400">
          Create Profile
        </h2>
        <form action="" method="POST" enctype="multipart/form-data">
          <!-- Cover Image -->
          {% csrf_token %}
          <div
            class="w-full rounded-sm bg-[url('https://images.unsplash.com/photo-1449844908441-8829872d2607?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w0NzEyNjZ8MHwxfHNlYXJjaHw2fHxob21lfGVufDB8MHx8fDE3MTA0MDE1NDZ8MA&ixlib=rb-4.0.3&q=80&w=1080')] bg-cover bg-center bg-no-repeat items-center"
          >
            <!-- Profile Image -->
            {% if user.avatar %}
            <div
              class="mx-auto flex justify-center w-[141px] relative h-[141px] bg-blue-300/20 rounded-full"
            >
              <img
                src="{{user.avatar.url}}"
                class="absolute w-full h-full rounded-full avatar_new_iamge"
                alt=""
              />
              <div
                class="bg-white/90 rounded-full w-6 h-6 z-10 text-center ml-28 mt-4"
              >
                <input
                  type="file"
                  name="avatar"
                  id="avatar"
                  required
                  class="hidden"
                  accept="image/*"
                />

                <label for="avatar">
                  <svg
                    data-slot="icon"
                    class="w-6 h-5 text-blue-700"
                    fill="none"
                    stroke-width="1.5"
                    stroke="currentColor"
                    viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg"
                    aria-hidden="true"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M6.827 6.175A2.31 2.31 0 0 1 5.186 7.23c-.38.054-.757.112-1.134.175C2.999 7.58 2.25 8.507 2.25 9.574V18a2.25 2.25 0 0 0 2.25 2.25h15A2.25 2.25 0 0 0 21.75 18V9.574c0-1.067-.75-1.994-1.802-2.169a47.865 47.865 0 0 0-1.134-.175 2.31 2.31 0 0 1-1.64-1.055l-.822-1.316a2.192 2.192 0 0 0-1.736-1.039 48.774 48.774 0 0 0-5.232 0 2.192 2.192 0 0 0-1.736 1.039l-.821 1.316Z"
                    ></path>
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M16.5 12.75a4.5 4.5 0 1 1-9 0 4.5 4.5 0 0 1 9 0ZM18.75 10.5h.008v.008h-.008V10.5Z"
                    ></path>
                  </svg>
                </label>
              </div>
            </div>
            {% else %}
            <div
              class="mx-auto flex justify-center w-[141px] h-[141px] bg-blue-300/20 rounded-full relative"
            >
              <img
                src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w0NzEyNjZ8MHwxfHNlYXJjaHw4fHxwcm9maWxlfGVufDB8MHx8fDE3MTEwMDM0MjN8MA&ixlib=rb-4.0.3&q=80&w=1080"
                class="avatar_new_iamge absolute rounded-full w-full h-full object-cover top-0 left-0"
                alt="avatar dummy"
              />
              <div
                class="bg-white/90 rounded-full w-6 h-6 text-center ml-28 mt-4 z-1"
              >
                <input
                  type="file"
                  name="avatar"
                  id="avatar"
                  class="hidden"
                  accept="image/*"
                />

                <label for="avatar">
                  <svg
                    data-slot="icon"
                    class="w-6 h-5 text-blue-700"
                    fill="none"
                    stroke-width="1.5"
                    stroke="currentColor"
                    viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg"
                    aria-hidden="true"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M6.827 6.175A2.31 2.31 0 0 1 5.186 7.23c-.38.054-.757.112-1.134.175C2.999 7.58 2.25 8.507 2.25 9.574V18a2.25 2.25 0 0 0 2.25 2.25h15A2.25 2.25 0 0 0 21.75 18V9.574c0-1.067-.75-1.994-1.802-2.169a47.865 47.865 0 0 0-1.134-.175 2.31 2.31 0 0 1-1.64-1.055l-.822-1.316a2.192 2.192 0 0 0-1.736-1.039 48.774 48.774 0 0 0-5.232 0 2.192 2.192 0 0 0-1.736 1.039l-.821 1.316Z"
                    ></path>
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M16.5 12.75a4.5 4.5 0 1 1-9 0 4.5 4.5 0 0 1 9 0ZM18.75 10.5h.008v.008h-.008V10.5Z"
                    ></path>
                  </svg>
                </label>
              </div>
            </div>
            {% endif %}
            <div class="flex justify-end">
              <!--Cover Input  -->
              {% comment %}
              <input
                type="file"
                name="profile"
                id="upload_cover"
                hidden
                required
              />
              {% endcomment %}

              <div
                class="bg-white flex items-center gap-1 rounded-tl-md px-2 text-center font-semibold"
              >
                <label
                  for="upload_cover"
                  class="inline-flex items-center gap-1 cursor-pointer"
                  >Cover

                  <svg
                    data-slot="icon"
                    class="w-6 h-5 text-blue-700"
                    fill="none"
                    stroke-width="1.5"
                    stroke="currentColor"
                    viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg"
                    aria-hidden="true"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M6.827 6.175A2.31 2.31 0 0 1 5.186 7.23c-.38.054-.757.112-1.134.175C2.999 7.58 2.25 8.507 2.25 9.574V18a2.25 2.25 0 0 0 2.25 2.25h15A2.25 2.25 0 0 0 21.75 18V9.574c0-1.067-.75-1.994-1.802-2.169a47.865 47.865 0 0 0-1.134-.175 2.31 2.31 0 0 1-1.64-1.055l-.822-1.316a2.192 2.192 0 0 0-1.736-1.039 48.774 48.774 0 0 0-5.232 0 2.192 2.192 0 0 0-1.736 1.039l-.821 1.316Z"
                    ></path>
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M16.5 12.75a4.5 4.5 0 1 1-9 0 4.5 4.5 0 0 1 9 0ZM18.75 10.5h.008v.008h-.008V10.5Z"
                    ></path>
                  </svg>
                </label>
              </div>
            </div>
          </div>

          <div
            class="flex lg:flex-row md:flex-col sm:flex-col xs:flex-col gap-2 justify-center w-full"
          >
            <div class="w-full mb-4 mt-6">
              <label for="username" class="mb-2 dark:text-gray-300"
                >Username</label
              >
              <input
                type="text"
                disabled
                required
                name="username"
                id="username"
                value="{{user.username}}"
                class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset bg-white ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
              />
            </div>
          </div>
          <div
            class="flex lg:flex-row md:flex-col sm:flex-col xs:flex-col gap-2 justify-center w-full"
          >
            <div class="w-full mb-4 mt-6">
              <label for="first_name" class="mb-2 dark:text-gray-300"
                >First Name</label
              >
              <input
                type="text"
                required
                name="first_name"
                id="first_name"
                value="{{user.first_name}}"
                class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset bg-white ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
              />
            </div>
            <div class="w-full mb-4 lg:mt-6">
              <label for="last_name" class="dark:text-gray-300"
                >Last Name</label
              >
              <input
                type="text"
                required
                name="last_name"
                id="last_name"
                value="{{user.last_name}}"
                class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset bg-white ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
              />
            </div>
          </div>
          <div
            class="flex lg:flex-row md:flex-col sm:flex-col xs:flex-col gap-2 justify-center w-full"
          >
            <div class="w-full mb-4 mt-6">
              <label for="email" class="mb-2 dark:text-gray-300">Email</label>
              <input
                type="text"
                required
                name="email"
                id="email"
                value="{{user.email}}"
                class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset bg-white ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
              />
            </div>
            <div class="w-full mb-4 lg:mt-6">
              <label for="mobile" class="dark:text-gray-300">Mobile</label>
              <input
                type="text"
                required
                name="mobile"
                id="mobile"
                value="{{user.mobile}}"
                class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset bg-white ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
              />
            </div>
          </div>
          <div class="my-4">
            <button
              type="submit"
              class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
            >
              Submit
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
{% endblock %} {% block js %}
<script>
  $(document).ready(function () {
    $("#avatar").change(function () {
      const avatar_url = URL.createObjectURL(this.files[0]);
      $(".avatar_new_iamge").attr("src", avatar_url);
      console.log("avatar_url", avatar_url);
      student.user.avatar.url = avatar_url;
    });
  });

  function validateEmail(email) {
    const re =
      /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
    return re.test(String(email).toLowerCase());
  }
  function validateUsername(username) {
    const re = /^[a-zA-Z][a-zA-Z0-9_-]{2,29}$/;
    return re.test(String(username).toLowerCase());
  }
  function validatePhone(phone) {
    const re = /^\+?[0-9]{10,15}$/;

    if (!re.test(phone)) {
      return false;
    }
    return true;
  }
  $(document).ready(function () {
    $("#email").keyup(function () {
      var email = $(this).val();
      if (validateEmail(email)) {
        $.ajax({
          url: "{% url 'check_email_availability' %}",
          type: "POST",
          data: { email: email },
        })
          .done(function (response) {
            console.log(response);
            if (response == "True") {
              $(".email_error").remove();
              $(
                "<span class=' email_error text-red-600'>Email Address Already Exist</span>"
              ).insertAfter("#email");
            } else {
              $(".email_error").remove();

              $(
                "<span class=' email_error text-green-600'>Email Address Available</span>"
              ).insertAfter("#email");
            }
          })
          .fail(function (response) {
            $(
              "<span class='alert alert-warning text-yellow-400'>Server Could Not Process This</span>"
            ).insertAfter("#email");
          });
      } else {
        $(".email_error").remove();
        $(
          "<span class=' email_error text-red-600'>Invalid email address</span>"
        ).insertAfter("#email");
      }
    });
    $("#username").keyup(function () {
      console.log("username check");
      var username = $(this).val();
      if (validateUsername(username)) {
        $.ajax({
          url: "{% url 'check_username_availability' %}",
          type: "POST",
          data: { username: username },
        })
          .done(function (response) {
            console.log(response);
            if (response == "True") {
              $(".username_error").remove();
              $(
                "<span class=' username_error text-red-600'>Username Already Exist</span>"
              ).insertAfter("#username");
            } else {
              $(".username_error").remove();

              $(
                "<span class=' username_error text-green-700 '>Username Available</span>"
              ).insertAfter("#username");
            }
          })
          .fail(function (response) {
            $(
              "<span class='alert alert-warning text-yellow-400'>Server Could Not Process This</span>"
            ).insertAfter("#username");
          });
      } else {
        $(".username_error").remove();
        $(
          "<span class=' username_error text-red-600'>Invalid Username type</span>"
        ).insertAfter("#username");
      }
    });

    $("#mobile").keyup(function () {
      var mobile = $(this).val();
      if (validatePhone(mobile)) {
        $.ajax({
          url: "{% url 'check_mobile_availability' %}",
          type: "POST",
          data: { mobile: mobile },
        })
          .done(function (response) {
            console.log(response);
            if (response == "True") {
              $(".mobile_error").remove();
              $(
                "<span class=' mobile_error text-red-600'>Mobile Already Exist</span>"
              ).insertAfter("#mobile");
            } else {
              $(".mobile_error").remove();

              $(
                "<span class=' mobile_error text-green-700 '>Mobile Available</span>"
              ).insertAfter("#mobile");
            }
          })
          .fail(function (response) {
            $(
              "<span class='alert alert-warning text-yellow-400'>Server Could Not Process This</span>"
            ).insertAfter("#mobile");
          });
      } else {
        $(".mobile_error").remove();
        $(
          "<span class=' mobile_error text-red-600'>Invalid mobile type</span>"
        ).insertAfter("#mobile");
      }
    });
  });
</script>
{% endblock %}
