

{% extends "layouts/alayout.html" %}
{% load static %}


{% block title %}Add Period{% endblock %}


{% block css %}

<style>
  
</style>

{% endblock %}

{% block admin %}
<div class="container-xxl flex-grow-1 container-p-y">
    <div class="max-w-2xl mx-auto bg-blue-50/10 dark:text-white shadow rounded p-6 mt-10">
        <h2 class="text-xl font-bold mb-4 text-center">⌚Add New Period</h2>
        <form method="POST" class="space-y-5">
        {% csrf_token %}
          {{ form.non_field_errors }}
      
          {% for field in form %}
            <div  class="dark:text-black">
              <label class="block text-sm font-medium text-gray-700 dark:text-white mb-1">{{ field.label }}</label>
              {{ field }}
              {% if field.errors %}
                <p class="text-sm text-red-600 mt-1">{{ field.errors.0 }}</p>
              {% endif %}
            </div>
          {% endfor %}
          <button type="submit" class="mt-4 bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700">Add Period</button>
        </form>
      </div>
      <hr class="my-2">
      <h2 class="text-xl font-bold my-4 text-center">📃 Period List</h2>
  {% if periods %}
    <table border="1"class="min-w-full table-fixed border-collapse border border-gray-300 dark:border-gray-700">
      <thead class="bg-gray-100 dark:bg-slate-800">
        <tr>
          <th class="border px-4 py-2 w-32 text-center">#</th>
          <th class="border px-4 py-2 w-32 text-center">Name</th>
          <th class="border px-4 py-2 w-32 text-center">Start Time</th>
          <th class="border px-4 py-2 w-32 text-center">End Time</th>
          <th class="border px-4 py-2 w-32 text-center">Edit</th>
        </tr>
      </thead>
      <tbody>
        {% for period in periods %}
        {{period_id}}
          <tr class="{% if period.id == period_id %}bg-green-500 hover:bg-green-600 rounded {%endif%}  {% if forloop.counter0|divisibleby:2 %}bg-blue-50 dark:bg-slate-800{% else %}bg-gray-50 dark:bg-slate-900{% endif %} hover:bg-gray-100 dark:hover:bg-slate-700">
            <td class="border px-4 py-2 text-sm text-center">{{ forloop.counter }}</td>
            <td class="border px-4 py-2 text-sm text-center">{{ period.name }}</td>
            <td class="border px-4 py-2 text-sm text-center">{{ period.start_time }}</td>
            <td class="border px-4 py-2 text-sm text-center">{{ period.end_time }}</td>
            <td class="border px-4 py-2 text-sm text-center"><a href="{% url 'edit_period' period.id%}">Edit</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>No periods added yet.</p>
  {% endif %}


{% endblock %}
