

{% extends "layouts/alayout.html" %}
{% load static %}


{% block title %}admin_dashboard{% endblock %}


{% block css %}

<style>
  
</style>

{% endblock %}

{% block admin %}
<h1 class="text-center text-3xl font-semibold">Welcome student Management </h1>
{% if students %}
<div class="container-fluid  w-full  overflow-auto hide-scrollbar" style="overflow:auto">
  
  <table class="table table-bordered " id="example">
    <thead>
      <tr class="table-dark text-center">
        <th>id</th>
        <th>Username</th>
        <th>Name</th>
        <th>age</th>
        <th>Father Name</th>
        <th>Mother Name</th>
        <th>Gender</th>
        <th>Address</th>
        <th>Progran</th>
        <th>Branch</th>
        <th>Year</th>
        <th>Mobile</th>
        <th>Roll No.</th>
        <th>Avatar</th>
        <th>Created At</th>
        <th>
          <a href="">
            user_id
          </a>
        </th>
        <th>Action</th>

      </tr>
    <tbody class="">
      {% for student in students %}
      <tr class="text-center">
        <td>{{ student.id }}</td>
        <td>{{student.user.username}}</td>
        <td>{{ student.name }} {{student.last_name}}</td>
        <td>{{ student.age }}</td>
        <td>{{ student.fname }}</td>
        <td>{{ student.mname }}</td>
        <td>{{ student.gender }}</td>
        <td>{{ student.address }}</td>
        <td>{{ student.program }}</td>
        <td>{{ student.branch }}</td>
        <td>{{ student.year }}</td>
        <td>{{ student.mobile }}</td>
        <td>{{ student.rollno }}</td>
        <td>
          {% if student.avatar %}<img class ="h-7 w-7 rounded-full overflow-hidden" src="{{ student.avatar.url }}" alt="">{% else %}AV{% endif %}
        </td>
        <td>{{ student.created_at }}</td>
        <td>{{ student.user_id }}</td>
        <td>
          <a href="{% url "edit_student" student.user.id %}"><i class="fa-solid fa-pen-to-square text-xl"></i></a> |
          <a href="{% url "delete_student" student.user.id %}"><i class="fa-solid fa-trash text-xl" style="color: #ab0303;"></i></a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
    </thead>
  </table>
</div>
{% endif %}
{% endblock %}
