

{% extends "layouts/alayout.html" %}
{% load static %}


{% block title %}manage_admin.html{% endblock %}


{% block css %}

<style>

</style>

{% endblock %}

{% block admin %}
<h1 class="text-center text-3xl font-semibold">manage_admin.html</h1>
<div class="container-fluid  w-full  overflow-auto hide-scrollbar" style="overflow:auto">
  
    <table class="table table-bordered " id="example">
      <thead>
        <tr class="table-dark text-center">
          <th>id</th>
          <th>Name</th>
          
          <th>Mobile</th>
          <th>Email</th>
          <th>Roll No.</th>
          <th>Avatar</th>
          <th>Created At</th>
          <th>
            <a href="">
              user_id
            </a>
          </th>
          
  
        </tr>
      <tbody class="">
        {% for i in admins %}
        <tr class="text-center">
          <td>{{ i.id }}</td>
          <td>{{ i.user.first_name }} {{i.user.last_name}}</td>
          
          <td>{{ i.user.mobile }}</td>
          <td>{{ i.user.email }}</td>
          <td>{{ i.employee_id }}</td>
          <td>AV</td>
          <td>{{ i.created_at }}</td>
          <td>{{ i.user_id }}</td>
          
        </tr>
        {% endfor %}
      </tbody>
      </thead>
    </table>
  </div>
{% endblock %}
{% block js %}{% endblock %}