

{% extends "layouts/alayout.html" %}
{% load static %}


{% block title %}manage Teacher{% endblock %}


{% block css %}

<style>

</style>

{% endblock %}

{% block admin %}
<h1 class="text-center text-3xl font-semibold"> Manage Teacher</h1>
<div class="container-fluid  w-full  overflow-auto hide-scrollbar" style="overflow:auto">
  
    <table class=" table-bordered " id="example">
      <thead class="bg-blue-200 dark:bg-sky-950">
        <tr class="table-dark text-center">
          <th>id</th>
          <th>Username</th>
          <th>Name</th>
          
          <th>Mobile</th>
          <th>Email</th>
          <th>Employe Id.</th>
          <th>Avatar</th>
          <th>Specialization</th>
          <th>Staff Status</th>
          <th>Created At</th>
          <th>
            <a href="">
              user_id
            </a>
          </th>
          
  
        </tr>
      
      </thead>
      <tbody >
        {% for i in teachers %}
        <tr class="text-center">
          <td>{{ i.user.username }}</td>
          <td>{{ i.id }}</td>
          <td>{{ i.user.first_name }} {{i.user.last_name}}</td>
          
          <td>{{ i.user.mobile }}</td>
          <td>{{ i.user.email }}</td>
          <td>{{ i.employee_id }}</td>
          <td>
            {% if i.user.avatar %}
            <img src="{{ i.user.avatar.url }}" alt="Avatar" class="w-10 h-10 rounded-full">
            {% else %}
            <img src="{% static 'image/default-avatar.avif' %}" alt="Default Avatar" class="w-10 h-10 rounded-full">
            {% endif %}
          </td>
          <td>{{i.specialization}}</td>
          <td id="verify_staff">
           <a href="{% url "verify_teacher" i.user.id %}">
            {% if  i.user.is_staff%}
            <div
            class="relative grid select-none items-center whitespace-nowrap rounded-lg bg-green-500 py-1.5 px-3 font-sans text-xs font-bold uppercase text-white">
            <span class="">Verified</span>
          </div>
            {% else %}<div
            class="relative grid select-none items-center whitespace-nowrap rounded-lg bg-red-500 py-1.5 px-3 font-sans text-xs font-bold uppercase text-white">
            <span class="">Un Verified</span>
          </div>
          {% endif %}
           </a>
          </td>
          <td>{{ i.created_at }}</td>
          <td>{{ i.user_id }}</td>
          
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
{% block js %}{% endblock %}