

{% extends "layouts/alayout.html" %}
{% load static %}


{% block title %}manage_teacher.html{% endblock %}


{% block css %}

<style>

</style>

{% endblock %}

{% block admin %}
<h1 class="text-center text-3xl font-semibold">manage_teacher.html</h1>
{% if teachers %}
<div class="container-fluid  w-full  overflow-auto hide-scrollbar" style="overflow:auto">
  
  <table class="table table-bordered " id="example">
    <thead>
      <tr class="table-dark text-center">
        <th>id</th>
        <th>Name</th>
        <th>age</th>
        <th>Father Name</th>
        <th>Mother Name</th>
        <th>Gender</th>
        <th>Address</th>
        <th>Progran</th>
        <th>Branch</th>
        <th>Year</th>
        <th>Mobile</th>
        <th>Roll No.</th>
        <th>Avatar</th>
        <th>Created At</th>
        <th>
          <a href="">
            user_id
          </a>
        </th>
        <th>Action</th>

      </tr>
    <tbody class="">
      {% for student in students %}
      <tr class="text-center">
        <td>{{ student.id }}</td>
        <td>{{ student.name }} {{student.last_name}}</td>
        <td>{{ student.age }}</td>
        <td>{{ student.fname }}</td>
        <td>{{ student.mname }}</td>
        <td>{{ student.gender }}</td>
        <td>{{ student.address }}</td>
        <td>{{ student.program }}</td>
        <td>{{ student.branch }}</td>
        <td>{{ student.year }}</td>
        <td>{{ student.mobile }}</td>
        <td>{{ student.rollno }}</td>
        <td>{{ student.avatar }}</td>
        <td>{{ student.created_at }}</td>
        <td>{{ student.user_id }}</td>
        <td>
          <a href=""><i class="fa-solid fa-pen-to-square"></i></a> |
          <a href=""><i class="fa-solid fa-trash" style="color: #ab0303;"></i></a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
    </thead>
  </table>
</div>
{% endif %}
{% endblock %}
{% block js %}{% endblock %}