

{% extends "layouts/alayout.html" %}
{% load static %}


{% block title %}view complaint{% endblock %}


{% block css %}

<style>

</style>

{% endblock %}

{% block admin %}
<h1 class="text-center text-3xl font-semibold">View Complaint</h1>
<div class=" my-2 container-fluid">
  
    <table class="table table-bordered">
      <thead>
        <tr class="table-dark text-center">
          <th>#</th>
          <th>Name</th>
          <th>Program</th>
          <th>Branch</th>
          <th>Contact No.</th>
          <th> Email Address</th>
          <th>Subject</th>
          <th>Complaint Text </th>
          <th>Posted Date </th>
        </tr>
      <tbody class="bg-blue-100">
        {% for i in complaints %}
        <tr class="text-center">
          <td>{{i.id}}</td>
          <td>{{i.student.name}}</td>
          <td>{{i.student.program}}</td>
          <td>{{i.student.branch}}</td>
          <td>{{i.student.mobile}}</td>
          <td>{{i.student.name}}</td>
          <td>{{i.subject}}</td>
          <td>{{i.comp}}</td>
          <td>{{i.created_at}}</td>

          
        </tr>
        {% endfor %}
       
       
      </tbody>
      </thead>
    </table>
</div>
{% endblock %}
{% block js %}{% endblock %}