{% extends "layouts/slayout.html" %} {% load static %} 
{% block title %} Send Feedback{% endblock %} 
{% block css %}

<style></style>

{% endblock %} 
{% block student %}

<div class="flex min-h-screen flex-col justify-center items-center px-6 py-12 lg:px-8 ">
    <div class="col-md-8 bg-blue-100 dark:bg-sky-950 py-8 my-8 rounded sm:px-4">   
        <h1 class="text-center text-3xl font-semibold">Submit Feedback</h1>
        <div class="mt-10 sm:mx-auto sm:w-full ">
            
            <form class="" action="#" method="POST">
                {% csrf_token %}
                <div class="row flex justify-center flex-row ">
                    <div class="col-4 my-auto">
                        <p
                        for="subject"
                        class="block text-lg font-medium leading-6 text-gray-900 dark:text-white"
                        >Enter Subject:</p >
                    </div>
                    <div class="col-8 py-4">
                        <div class="">
                            <input
                            id="subject"
                            name="subject"
                            type="text"
                            autocomplete=""
                            required
                            class=" w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                        />
                        </div>
                    </div>
                </div>
            
                <div class="row flex justify-center flex-row ">
                    <div class="col-4 my-auto">
                        <p
                        for="feed"
                        class="block text-lg font-medium leading-6 text-gray-900 dark:text-white"
                        >Enter Feedback Text:</p >
                    </div>
                    <div class="col-8 py-4">
                        <div class="">
                            <textarea
                            id="feed"
                            name="feed"
                            type="text"
                            autocomplete=""
                            required
                            class=" w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                        ></textarea>
                        </div>
                    </div>
                </div>

                <div>
                <button
                    type="submit"
                    class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
                >
                    Submit
                </button>
                </div>
            </form>
            
        </div>
    </div>
</div>





<div class=" my-2 container-fluid">
  
    <table class="table table-bordered">
      <thead>
        <tr class="table-dark text-center">
          <th>#</th>
          <th>Name</th>
          <th>Program</th>
          <th>Branch</th>
          <th>Contact No.</th>
          <th>Email Address</th>
          <th>Subject</th>
          <th>Feedback Text </th>
          <th>Posted Date </th>
        </tr>
      <tbody class="bg-blue-100">
        
        {% for i in feedbacks %}
        <tr class="text-center">
          <td>{{i.id}}</td>
          <td>{{i.student.name}}</td>
          <td>{{i.student.program}}</td>
          <td>{{i.student.branch}}</td>
          <td>{{i.student.mobile}}</td>
          <td>{{i.student.user.email}}</td>
          <td>{{i.subject}}</td>
          <td>{{i.feed}}</td>
          <td>{{i.created_at}}</td>

          
        </tr>
        {% endfor %}
       
      </tbody>
      </thead>
    </table>
</div>

{% block js %}{% endblock %}
{% endblock %}
