{% load static %}

<footer id="dk-footer" class=" bg-blue-100 text-blue-900 shadow dark:bg-sky-950 dark:text-indigo-200   m-0 ">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-sm-6 footer-about text-center flex items-center flex-col p-4 font-semibold">
        <a href="index.php" class="footer-img ">
          <img
            src="{% static 'image/logo1.png' %}"
            alt="footer_logo"
            class="img-fluid "
          />
        </a>
        <p class="text-justify p-2 tex-center">
          <p><strong>Adarsh Inter College</strong> – Dedicated to providing quality education and shaping bright futures in Usmanpur, Barabanki, Uttar Pradesh.</p>
        </p>
        <ul class="contact-info d-flex my-2 mx-auto align-items-center justify-content-center">
            <a href="#" class="twitter me-2"
              ><i
                class="fa-brands fa-twitter my-icon1"
                style="color: #29aae1; border: 1px solid #29aae1"
              ></i
            ></a>
            <a href="#" class="facebook me-2"
              ><i
                class="fa-brands fa-facebook my-icon1"
                style="color: #3f5c9a; border: 1px solid #3f5c9a"
              ></i
            ></a>
            <a href="#" class="instagram me-2"
              ><i
                class="fa-brands fa-instagram my-icon1"
                style="color: #e8486d; border: 1px solid #e8486d"
              ></i
            ></a>
            <a href="#" class="linkedin me-2"
              ><i
                class="fa-brands fa-linkedin my-icon1"
                style="color: #017cb5; border: 1px solid #017cb5"
              ></i
            ></a>
            <a href="#" class="youtube me-2"
              ><i
                class="fa-brands fa-youtube my-icon1"
                style="color: #dc3541; border: 1px solid #dc3541"
              ></i
            ></a>
          </div>
        </ul>
      <div class="col-lg-3 col-sm-6 my-useful p-4 font-semibold">
        <h3 class="text-2xl font-semibold">Useful Links</h3>
        <span class="animate-border border-black mb-4"></span>
        <ul>
          <li>
            <a href="">Home</a>
          </li>
          <li>
            <a href="about.php">About Portal</a>
          </li>
          <li>
            <a href="services.php">Services</a>
          </li>
          <li>
            <a href="contact.php">Contact us</a>
          </li>
          <li>
            <a href="courses.php">Courses</a>
          </li>
          <li>
            <a href="study.php">Study Centre</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-3 col-sm-6 con-info p-4 font-semibold">
        <h3 class="text-2xl font-semibold">Contact info</h3>
        <span class="animate-border border-black mb-4"></span>
        <h3 class="font-semibold"><i class="fa-solid fa-location-dot "></i> <strong>Adarsh Inter College</strong></h3>
        <p>
          Usmanpur Barabanki Uttar Pradesh- 225120.
        </p>
        <br />
        <h3 class="">
          <i class="fa fa-volume-control-phone"></i> +91 7080102007
        </h3>
        <p>Give us a call</p>
      </div>
      <div class="col-lg-3 col-sm-6 my-subs p-4 font-semibold">
        <h3 class="text-2xl font-semibold">Subscribe</h3>
        <span class="animate-border border-black mb-4"></span>
        <p>
          Fill the detail below to receive the manual of the Adarsh Inter College Portal
        </p>
        <form action="">
          <div class="form-row">
            <div class="col dk-footer-form ">
              <input
                type="email"
                class="form-control"
                placeholder="Email Address"
              />
              <button type="submit">
                <i class="fa-solid fa-paper-plane"></i>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="container-fluid p-0 m-0">
    <div class="row m-0">
      <div class="col-sm-12 p-0">
        <div class="copyright bg-cyan-950 pt-2 m-0">
          <div class="container p-0 m-0">
            <div class="row">
              <div class="col-md-12 text-center">
                <p style="color: white" class="m-1">
                  © Copyright
                  <script type="text/javascript">
                    var d = new Date();
                    document.write(d.getFullYear());
                  </script>
                   Designed &amp; Developed By |
                  <a
                    target="_blank"
                    href="http://www.softproindia.in/"
                    style="color: white"
                    >Aditya Kumar (P) Ltd.</a
                  >
                </p>
              </div>
            </div>
          </div>
        </div>
        <a
          href="#"
          class="back-to-top bg-blue-100 text-blue-950 border shadow dark:bg-blue-950 dark:text-blue-50  d-flex align-items-center justify-content-center  "
          ><i class="fa-solid fa-arrow-up"></i></i
        ></a>
      </div>
    </div>
  </div>
</footer>
