<script>
    toastr.options = {
        "closeButton": true,
        "debug": false,
        "newestOnTop": true,
        "progressBar": true,
        "positionClass": "toast-top-right",
        "preventDuplicates": true,
        "onclick": null,
        "showDuration": "300",
        "hideDuration": "1000",
        "timeOut": "5000",
        "extendedTimeOut": "1000",
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut"
    }
</script>
<script>
    $(document).ready(function() {
        $('#school_class').change(function() {
            var school_class_id = $(this).val();
            if (school_class_id) {
                $.ajax({
                    url: '/ajax/load_sections/',
                    data: {
                        'school_class_id': school_class_id
                    },
                    success: function(data) {
                        $('#section').html('<option value="">--Select Section--</option>');
                        
                        $.each(data, function(key, value) {
                            $('#section').append('<option key="'+value.id +'" value="' + value.id + '">' + value.name + '</option>');
                        });
                    }
                });
            } else {
                $('#section').html('<option value="">--Select Section--</option>');
            }
        });

        
        $('#section').change(function() {
          var section_id = $(this).val();
          if (section_id) {
              $.ajax({
                  url: '/ajax/load_subjects/',
                  data: {
                      'section_id': section_id
                  },
                  success: function(data) {
                      $('#subject').html('<option value="">--Select Subject--</option>');
                      $.each(data, function(key, value) {
                          $('#subject').append('<option key="'+value.id +'" value="' + value.id + '">' + value.name + '</option>');
                      });
                  }
              });
          } else {
              $('#section').html('<option value="">--Select Section--</option>');
          }
      });
    });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

    <script>
        $(document).ready(function() {
            {% if messages %}
                {% for message in messages %}
                    toastr.options = {
                        "closeButton": true,
                        "positionClass": "toast-top-center", // Or another position like 'toast-top-right'
                        "timeOut": "5000", // 3 seconds
                    };
                    toastr["{{ message.tags }}"]("{{ message }}");
                {% endfor %}
            {% endif %}
        });
    </script>
    <!-- DataTables JS -->
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.1/js/dataTables.buttons.min.js"></script>

<!-- Buttons for export -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.1/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.1/js/buttons.print.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

    <script>
        
        $(document).ready(function () {
            $('#example').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    'copy', 'csv', 'excel', 'pdf', 'print', 'pageLength'
                ],
                lengthMenu: [
                    [10, 25, 50, 100, -1],
                    ['10', '25', '50', '100', 'all']
                ]
            });
        });
        
    </script>

    <script>
  
        function validateEmail(email) {
            const re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            return re.test(String(email).toLowerCase());
        }
        function validateUsername(username) {
          const re = /^[a-zA-Z][a-zA-Z0-9_-]{2,29}$/;
          return re.test(String(username).toLowerCase());
      }
      function validatePhone(phone) {
        const re = /^\+?[0-9]{10,15}$/;
        
        if (!re.test(phone)) {
            return false;
        }
        return true;
      }
        $(document).ready(function(){
            $("#email").keyup(function(){
                
                var email = $(this).val()
                if (validateEmail(email)){
                $.ajax({
                    url: "{% url 'check_email_availability' %}",
                    type: 'POST',
                    data:{email:email}
                }).done(function(response){
                  console.log(response)
                    if (response == "True"){
                        $(".email_error").remove()
                        $("<span class=' email_error text-red-600'>Email Address Already Exist</span>").insertAfter("#email");
                    }
                    else{
                        $(".email_error").remove()
      
                        $("<span class=' email_error text-green-600'>Email Address Available</span>").insertAfter("#email");
                    }
                }).fail(function(response){
                    $("<span class='alert alert-warning text-yellow-400'>Server Could Not Process This</span>").insertAfter("#email");
                })
            }else{
              $(".email_error").remove()
              $("<span class=' email_error text-red-600'>Invalid email address</span>").insertAfter("#email");
          }
            })
            $("#username").keyup(function(){
              console.log("username check")
              var username = $(this).val()
              if (validateUsername(username)){
              $.ajax({
                  url: "{% url 'check_username_availability' %}",
                  type: 'POST',
                  data:{username:username}
              }).done(function(response){
                console.log(response)
                  if (response == "True"){
                      $(".username_error").remove()
                      $("<span class=' username_error text-red-600'>Username Already Exist</span>").insertAfter("#username");
                  }
                  else{
                      $(".username_error").remove()
      
                      $("<span class=' username_error text-green-700 '>Username Available</span>").insertAfter("#username");
                  }
              }).fail(function(response){
                  $("<span class='alert alert-warning text-yellow-400'>Server Could Not Process This</span>").insertAfter("#username");
              })
          }else{
              $(".username_error").remove()
              $("<span class=' username_error text-red-600'>Invalid Username type</span>").insertAfter("#username");
          }
          })
      
          $("#mobile").keyup(function(){
            var mobile = $(this).val()
            if (validatePhone(mobile)){
            $.ajax({
                url: "{% url 'check_mobile_availability' %}",
                type: 'POST',
                data:{mobile:mobile}
            }).done(function(response){
              console.log(response)
                if (response == "True"){
                    $(".mobile_error").remove()
                    $("<span class=' mobile_error text-red-600'>Mobile Already Exist</span>").insertAfter("#mobile");
                }
                else{
                    $(".mobile_error").remove()
      
                    $("<span class=' mobile_error text-green-700 '>Mobile Available</span>").insertAfter("#mobile");
                }
            }).fail(function(response){
                $("<span class='alert alert-warning text-yellow-400'>Server Could Not Process This</span>").insertAfter("#mobile");
            })
        }else{
            $(".mobile_error").remove()
            $("<span class=' mobile_error text-red-600'>Invalid mobile type</span>").insertAfter("#mobile");
        }
        })
        });
        
      
      </script>