@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');




:root {
  --clr-primary: #7380ec;
  --clr-danger: #ff7782;
  --clr-success: #41f1b6;
  --clr-white: #fff;
  --clr-info-dark: #7d8da1;
  --clr-info-light: #dce1eb;
  --clr-dark: #363949;
  --clr-warnig: #ff4edc;
  --clr-light: rgba(132, 139, 200, 0.18);
  --clr-primary-variant: #111e88;
  --clr-dark-variant: #677483;
  --clr-color-background: #f6f6f9;

  --card-border-radius: 2rem;
  --border-radius-1: 0.4rem;
  --border-radius-2: 0.8rem;
  --border-radius-3: 1.2rem;

  --card-padding: 1.8rem;
  --padding-1: 1.2rem;
  --box-shadow: 0 2rem 3rem var(--clr-light);

}

/* dark theme */
.dark-theme-variables {
  --clr-color-background: #181a1e;
  --clr-white: #202528;
  --clr-light: rgba(0, 0, 0, 0.4);
  --clr-dark: #edeffd;
  --clr-dark-variant: #677483;
  --box-shadow: 0 2rem 3rem var(--clr-light)
}


*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Poppins", sans-serif!;
}
section {
    padding: 60px 0;
    overflow: hidden;
}
/* Hide scrollbar track */
.hide-scrollbar {
    scrollbar-width: thin; /* Firefox */
    scrollbar-color: transparent transparent; /* Firefox */
  
    /* For Webkit browsers */
    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }
  
    &::-webkit-scrollbar-track {
      background: transparent;
    }
  
    &::-webkit-scrollbar-thumb {
      background: transparent;
    }
  }
  
a{
    color: blue;
    text-decoration: none;
}
h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}
.h1{
    color: rgb(255, 77, 0);
}
.bg-red{
    background-color: rgb(130, 14, 14);
}
.b1{
    background-color: red;
    color: white;
    padding: 10px;
    border: none;
    margin: 2;
}
.row{
    margin: 0 !important;
}
   
.my-icon1 {
    border: 1px solid darkred;
    font-size: 20px;
    color: #5cb874;
    width: 33px;
    height: 33px;
    background: #fbfbfb;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
    left: 2wv;

}

.top{
    background: #082f49;
    color: white;
    padding: 10px;
    font-weight: bold;
    text-align: center;
}


.topbar {
    border-bottom: 2px dotted rgb(19, 149, 147);
    min-height: 5vh;
    display: flex;
}
.topbar1 {
    display: flex;
}
.nav-link{
    color: white;
}

.section-title {
    padding-bottom: 40px;
}
.section-title p {
    margin: 0;
    margin: 0;
    font-size: 1.8rem;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    color: #000;
}
.section-title span {
    color: darkred;
}
.section-title h2 {
    font-size: 14px;
    font-weight: 500;
    padding: 0;
    line-height: 1px;
    margin: 10px 0 5px 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
}
.section-title h2::after {
    content: "";
    width: 120px;
    height: 1px;
    display: inline-block;
    background: #fd9042;
    margin: 4px 10px;
}
.about .video-box {
    background: url(../image/thumbnail.jpg) center center no-repeat;
    background-size: cover;
    background-size: 100% 100%;
    height: 35vh;
    width: 80%;
    box-shadow: 5px 5px 20px #ddd;
    position: relative;
    right: 7.4rem;
    top: 4rem;
}
.about .play-btn {
    width: 94px;
    height: 94px;
    background: radial-gradient(rgba(255, 0, 0, .9) 50%, rgba(255, 255, 255, .3) 52%);
    border-radius: 50%;
    display: block;
    position: absolute;
    left: calc(50% - 47px);
    top: calc(50% - 47px);
    overflow: hidden;
}
.about .play-btn::before {
    content: "";
    position: absolute;
    width: 120px;
    height: 120px;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation: pulsate-btn 2s;
    animation: pulsate-btn 2s;
    -webkit-animation-direction: forwards;
    animation-direction: forwards;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: steps;
    animation-timing-function: steps;
    opacity: 1;
    border-radius: 50%;
    border: 5px solid rgba(255, 2, 2, 0.7);
    top: -15%;
    left: -15%;
    background: rgba(255, 0, 0, 0.7);
}
.about .play-btn::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-40%) translateY(-50%);
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid #fff;
    z-index: 100;
    transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.portal {
    background: linear-gradient(rgba(0, 0, 0, .4), rgba(255, 255, 255, .5)), url(../image/bg.jpg);
    background-attachment: fixed;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    min-height: 40vh;
}
.card_outer {
    min-height: 420px;
    position: relative;
    text-align: center;
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.05), inset -5px -5px 5px rgba(255, 255, 255, 0.5), 5px 5px 5px rgba(0, 0, 0, 0.05), -5px -5px 5px rgba(255, 255, 255, 0.5);
    border-radius: 15px;
}
.card_outer .card_box {
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.card_outer .card_box .card_content {
    padding: 20px;
}
.card_outer .card_box .card_content .services_ic {
    background: darkred;
    color: white;
}
.card_outer .card_box .card_content span {
    font-size: 30px;
    background: #d72d24;
    color: white;
    border-radius: 50%;
    padding: 7%;
    transform: translateY(-30px);
}
.card_outer .card_box .card_content .txt {
    color: #003366;
    text-align: center;
    padding-top: 0;
    font-size: .9rem;
    font-family: "Open Sans", sans-serif;
    font-weight: 520;
}
.card_outer .card_box .card_content a {
    font-size: .9em;
    color: darkred;
    font-family: "poppins", sans-serif;
    font-weight: 600;
    background: orange;
    padding: 10px 20px;
    border-radius: 40px;
    z-index: 111;
    transition: all ease 0.5s;
    font-family: "poppins", sans-serif;
}
.services .image1 {
    border: 1px solid #ddd;
}


.lity-wrap {
    z-index: 9990;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    outline: none !important;
}


.lity-wrap:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
}
.lity-container {
    z-index: 9992;
    position: relative;
    text-align: left;
    vertical-align: middle;
    display: inline-block;
    white-space: normal;
    max-width: 100%;
    max-height: 100%;
    outline: none !important;
}
.lity-content {
    z-index: 9993;
    width: 100%;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-transition: -webkit-transform .3s ease;
    transition: -webkit-transform .3s ease;
    -o-transition: -o-transform .3s ease;
    transition: transform .3s ease;
    transition: transform .3s ease, -webkit-transform .3s ease, -o-transform .3s ease;
}
.lity-content:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    display: block;
    right: 0;
    width: auto;
    height: auto;
    z-index: -1;
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}
.lity-iframe-container {
    width: 100%;
    height: 0;
    padding-top: 56.25%;
    overflow: auto;
    pointer-events: auto;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-overflow-scrolling: touch;
}

.lity-iframe-container iframe {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #000;
}

.services .text h4 {
    background: darkred;
    padding: 10px 20px;
    color: #fff;
    font-size: .9rem;
    text-align: center;
}
.team {
    background: #ccc;
    padding: 60px 0;
}
.team .member {
    margin-bottom: 20px;
    overflow: hidden;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}
.team .member .member-img {
    position: relative;
    overflow: hidden;
}
.team .member .member-img img {
    height: 20vh;
    border-radius: 50%;
    border: 4px double darkred;
}
.team .member .social {
    position: absolute;
    left: 0;
    bottom: 30px;
    right: 0;
    opacity: 0;
    transition: ease-in-out 0.3s;
    text-align: center;
}
.team .member .social h4 {
    transition: color 0.3s;
    font-size: 1.2rem;
    transition: ease-in-out 0.3s;
    color: orange;
}
.team .member .member-info {
    padding: 25px 15px;
}
.team .member .social:hover h4 {
    color: orange;
    font-weight: 700;
}
.team .member .member-info h4 {
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 18px;
    color: darkred;
    text-align: center;
}
.team .member .member-info span {
    display: block;
    font-size: 13px;
    text-align: center;
    font-weight: 400;
    color: #000;
}

.testimonials {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    min-height: 375px;
    perspective: 500px;
    margin-top: 3rem;
    overflow: hidden;
}
.testimonials-slider {
    overflow: hidden;
}
.testimonials .swiper-pagination {
    margin-top: 20px;
    position: relative;
}
.testimonials .testimonial-item {
    box-sizing: content-box;
    padding: 20px 30px 0 20px;
    margin: 30px 15px;
    text-align: center;
    min-height: 300px;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
}
.testimonials .testimonial-item .testimonial-img {
    width: 100%;
    height: 25vh;
    border: 4px solid #fff;
    margin: 0 auto;
}


.cta {
    background: linear-gradient(rgba(0, 0, 0, .2), rgba(255, 255, 255, .2)), url(../image/bg4.jpg);
    background-attachment: fixed;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    min-height: 30vh;
}

.cta .video-1 iframe {
    border: 4px inset grey;
    place-self: center;
    border: solid red;
    border-image: linear-gradient(90deg, darkred, orange) 1;
    padding: .3em;
    color: whitesmoke;
    font: 1.25em ubuntu, trebuchet ms, arial, sans-serif;
    clip-path: inset(0 round  r);
    box-shadow: 5px 5px 15px #ddd;
    margin-left: .7rem;
}
.cta .cta-btn {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 30px;
    /* border-radius: 50px; */
    transition: 0.5s;
    margin: 10px;
    color: #fff;
    min-width: 94%;
    background: linear-gradient(45deg, rgba(139, 0, 0, .98), orange);
}

.cta .cta-btn:hover {
    background: #fff;
    color: #ef6603;
}



.features .nav-tabs {
    border: 0;
    display: flex;
    flex-direction: column;
}
.nav-tabs {
    border-bottom: 1px solid #dee2e6;
}
.features .nav-link {
    border: 1px solid #d4d6df;
    margin-top: 10px;
    width: 30rem;
    transition: 0.3s;
    color: #2a2c39;
    border-radius: 0;
}
.features .nav-link.active {
    background: #ef6603;
    color: #fff;
    border-color: #ef6603;
}
.nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}



.testimonial .quick-link1 {
    border: 1px dotted darkred;
    padding: 5px;
    display: flex;
    background: #fff;
    flex-direction: row;
}
.testimonial .quick-link1 h4 {
    text-align: center;
    color: darkred;
    font-weight: 700;
    font-size: 1.4rem;
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
}
.testimonial .quick-link1 h5 {
    text-align: center;
    color: #000;
    font-weight: 500;
    font-size: 1.2rem;
    position: relative;
}























.footer-img img {
    background-color: #fff;
    height: 110px;
    width: 110px;
    border-radius: 50%;
    padding: 5px;
    border: 0.3em solid orange;
    margin-bottom: 0.3em;
}
.img-fluid {
    max-width: 100%;
    height: auto;
}
.animate-border {
    position: relative;
    display: block;
    width: 115px;
    height: 3px;
    background: #ef6603;
}
.animate-border:after {
    position: absolute;
    content: "";
    width: 35px;
    height: 3px;
    left: 0;
    bottom: 0;
    border-left: 10px solid #fff;
    border-right: 10px solid #fff;
    -webkit-animation: animborder 2s linear infinite;
    animation: animborder 2s linear infinite;
}

.my-useful ul {
    list-style: "\27BA";
}

.my-useful ul li {
    margin: 10px;
}
.my-useful ul li::marker {
    unicode-bidi: isolate;
    font-variant-numeric: tabular-nums;
    text-transform: none;
    text-indent: 0px !important;
    text-align: start !important;
    text-align-last: start !important;
}



.con-info-add {
    font-size: 17px;
    color: #fff;
    font-weight: 600;
    /* margin-bottom: ; */
    font-family: "poppins", sans-serif;
}
.con-info p {
    font-size: .8rem;
    font-family: 'poppins', serif;
    padding: 0em 0.5em;
}
.form-row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -5px;
    margin-left: -5px;
}
.form-row>.col, .form-row>[class*=col-] {
    padding-right: 5px;
    padding-left: 5px;
}
.dk-footer-form {
    position: relative;
}
.dk-footer-form input[type=email] {
    padding: 8px 20px;
    border-radius: 50px;
    background: #3563a2;
    color: white;
    border: 1px solid #2E2E2E;
}
.dk-footer-form button[type=submit] {
    position: absolute;
    top: 0;
    right: 0;
    padding: 4px 20px 12px 17px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border: 1px solid #ef6603;
    background: #ef6603;
    color: #fff;
}
.copyright {
    padding: 8px 0;
    margin-top: 5px;
    font-weight: 400;
}
.back-to-top.active {
    visibility: visible;
    opacity: 1;
}
.back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 996;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    transition: all 0.4s;
}



input{
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 10px;
    background: transparent;
    color: #000;
}






















@media (max-width: 909px) {
    .topbar {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .topbar1 {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .about .video-box {
        margin-left: 9rem;
        height: 20vh;
    }
}
@media (max-width: 1024px) {
    .cta {
        background-attachment: scroll;
    }
}





@keyframes animborder {
0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
}
100% {
    -webkit-transform: translateX(113px);
    transform: translateX(113px);
}
}