

{% extends "layouts/tlayout.html" %}
{% load static %}


{% block title %}Add Teacher Intrested Subject{% endblock %}


{% block css %}

<style>

</style>

{% endblock %}

{% block teacher %}

<form action="" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
    <div class="container">
        <div class="border p-4 rounded md:m-4 bg-blue-100 dark:bg-sky-950 border-gray-900/10 pb-12">
            <h1 class="text-center text-3xl font-semibold">Upload Assesment</h1>
            <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
                <div class="sm:col-span-3">
                    <label for="program" class="block text-sm font-medium leading-6 text-gray-900 dark:text-white">Select Program</label>
                    <div class="mt-2">
                      <select id="program" name="program"  class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                        <option value="">--Select Program--</option>
                        {% for program in programs %}
                          <option value="{{ program.id }}">{{ program.name }}</option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>
      
                  <div class="sm:col-span-3">
                    <label for="branch" class="block text-sm font-medium leading-6 text-gray-900 dark:text-white">Select Branch</label>
                    <div class="mt-2">
                      <select id="branch" name="branch"  class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                        <option value="">--Select Branch--</option>
                        
                      </select>
                    </div>
                  </div>
      
                  <div class="sm:col-span-3">
                    <label for="year" class="block text-sm font-medium leading-6 text-gray-900 dark:text-white">Select Year</label>
                    <div class="mt-2">
                      <select id="year" name="year"  class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                        <option value="">--Select Year --</option>
                        
                      </select>
                    </div>
                  </div>
                  <div class="sm:col-span-3">
                    <label for="subject" class="block text-sm font-medium leading-6 text-gray-900 dark:text-white">Select Subject</label>
                    <div class="mt-2">
                      <select id="subject" name="subject"  class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                        <option value="">--Select Subject --</option>
                      </select>
                    </div>
                  </div>
      
              

              <div class="col-span-full">
                <button type="submit" class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Submit</button>
              </div>

              
            </div>
          </div>
    </div>
</form>
<div class=" my-2 container-fluid">
  
  <table class="table table-bordered">
    <thead>
      <tr class="table-dark text-center">
        <th>id</th>
        <th>Program</th>
        <th>Branch</th>
        <th>Year</th>
        <th>Subject</th>
        <th>Action</th>
      </tr>
    <tbody class="bg-blue-100">
      
      {% for i in subjects  %}
      <tr class="text-center">
        <td>{{i.id}}</td>
        <td>{{i.program}}</td>
        <td>{{i.branch}}</td>
        <td>{{i.year}}</td>
        <td>{{i.subject}}</td>
        
       
        <td>
          {% comment %} <a href="{% url "edit_user" user.id %}"><i class="fa-solid fa-pen-to-square text-xl mx-2"></i></a> | {% endcomment %}
          <a  href="{% url "delete_intrested_subjects" i.id %}" ><i class="fa-solid fa-trash text-xl mx-2" style="color: #ab0303;"></i></a>
        </td>
      
        
      </tr>
      {% endfor %}
     
    </tbody>
    </thead>
  </table>
</div>
{% endblock %}
{% block js %}{% endblock %}