{% extends "layouts/tlayout.html" %} {% load custom_filters %} {% load static %}
{% block title %}Attendance{% endblock %} {% block css %}

<style></style>

{% endblock %} {% block teacher %}

<form action="" method="GET" enctype="multipart/form-data">
  
    <div class="container">
        <div class="border p-4 rounded md:m-4 bg-blue-100 dark:bg-sky-950 border-gray-900/10 pb-12">
            <h1 class="text-center text-3xl font-semibold">Add Intrested Subject</h1>
            <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
                <div class="sm:col-span-3">
                    <label for="school_class" class="block text-sm font-medium leading-6 text-gray-900 dark:text-white">Select Class</label>
                    <div class="mt-2">
                      <select id="school_class" name="school_class"  class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                        <option value="">--Select Class--</option>
                        {% for class in classes %}
                          <option value="{{ class.id }}">{{ class.name }}</option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>
      
                  
      
                  <div class="sm:col-span-3">
                    <label for="section" class="block text-sm font-medium leading-6 text-gray-900 dark:text-white">Select Section</label>
                    <div class="mt-2">
                      <select id="section" name="section"  class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                        <option value="">--Select Section --</option>
                        
                      </select>
                    </div>
                  </div>
                  
      
              

              <div class="col-span-full">
                <button type="submit" class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Filter Attendance</button>
              </div>

              
            </div>
          </div>
    </div>
</form>
<form action="" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="container-fluid  w-full  overflow-auto hide-scrollbar" style="overflow:auto">
<table  class=" table-bordered" id="example">
  <thead class="bg-blue-200 dark:bg-sky-950">
    <tr>

      <th class="p-2">SR No.</th>
      <th class="p-2">Roll Number</th>
      <th class="p-2">Username</th>
      <th class="p-2">Name</th>
      {% for date in dates %}
      <th class="p-2">{{ date|date:"d M Y" }}</th>
      {% endfor %}
      {% if  is_filtered  and students %}
      <th>Attendance</th>
      {% endif %}
    </tr>
  </thead>
  <tbody>
    {% for student in students %}
    <tr class="w-full">
      <td class="p-2">{{ student.id }}</td>
      <td class="p-2">{{ student.rollno }}</td>
      <td class="p-2">{{ student.user.username }}</td>
      <td class="p-2">{{ student.user.first_name }} {{ student.user.last_name }}</td>
     
      <input type="hidden" name="student_ids" value="{{ student.id }}">
      {% for date in dates %}
      <td >
        

        
        {% with student.id|stringformat:"s" as student_id %}
          {% with date|stringformat:"s" as date_str %}
            {% with student_id|add:"|"|add:date_str as attendance_key %}
              
              {% with attendance_data|get_attendance_status:attendance_key  as status %}
              
                {% if status %} 
                <span class="flex items-center bg-green-600 text-white rounded-full px-2 py-1 mx-auto gap-2 w-fit">
                  Persent  
                </span> {% elif status is not none %} 
                <span class="flex items-center bg-red-600 text-white rounded-full px-2 py-1 mx-auto gap-2 w-fit">
                  Absent  
                </span>  {% else %} - 
                
                {%endif %}
              
              {% endwith %} 
            {% endwith %}
          {% endwith %}
        {% endwith %}

        {% endfor %}
      </td>
      {% if  is_filtered  and students %}

      <td>
        <div class="flex items-center justify-evenly w-full ">
          <span class="flex items-center bg-green-600 text-white rounded-full px-2 py-1 gap-2">
            <label for="present_{{student.id}}">Persent:</label>
             <input type="radio" name="status_{{ student.id }}" id="present_{{student.id}}" value="present" checked>
            
          </span>
          <span class="flex items-center bg-red-600 text-white rounded-full px-2 py-1 gap-2">
            <label for="absent_{{student.id}}">Absent:</label>
             <input type="radio" name="status_{{ student.id }}" id="absent_{{student.id}}" value="absent">
            
          </span>
        </div>
      </td>
      {% endif %}
    </tr>
    {% endfor %}
    {% if  is_filtered and students %}
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      {% for date in dates %}
      <td></td>
      {% endfor %}
      
      <td colspan="4" class="p-2">
        <button type="submit" class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Submit Attendance</button>
      </td>
    </tr>
    {% endif %}
  </tbody>
</table>
</div>
</form>

{% endblock %} {% block js %}{% endblock %}
