{% load static %}

<footer id="dk-footer" class=" bg-blue-100 text-blue-900 shadow dark:bg-sky-950 dark:text-indigo-200  m-0 ">
  
  <div class="container-fluid p-0 m-0">
    <div class="row m-0">
      <div class="col-sm-12 p-0">
        <div class="copyright  pt-2 m-0">
          <div class="container p-0 m-0">
            <div class="row">
              <div class="col-md-12 text-center">
                <p  class="m-1">
                  © Copyright
                  <script type="text/javascript">
                    var d = new Date();
                    document.write(d.getFullYear());
                  </script>
                   Designed &amp; Developed By |
                  <a
                    target="_blank"
                    href="http://www.softproindia.in/"
                    
                    >Aditya Kumar (P) Ltd.</a
                  >
                </p>
              </div>
            </div>
          </div>
        </div>
        <a
          href="#"
          class="back-to-top d-flex align-items-center justify-content-center  text-white"
          ><i class="fa-solid fa-arrow-up"></i></i
        ></a>
      </div>
    </div>
  </div>
</footer>
